##############################
# PRIMER
##############################

# ----------------------------
# Primer API Key
# Must match the environment set with PRIMER_API_ENVIRONMENT 
# ----------------------------

API_KEY=944cca54-385b-497b-9bf6-d70823407572


# ----------------------------
# Primer environment: SANDBOX or PRODUCTION
# ----------------------------

PRIMER_API_ENVIRONMENT=SANDBOX
# PRIMER_API_ENVIRONMENT=PRODUCTION


##############################
# SERVER
##############################

PORT=8880